body {
    font-family: 'Mitr';
    font-size: 22px;
    background-color: #1E1E24;
}

td {
    color: white;
    border-radius: 10px;
    border-color: #1d4e6e;
    background-color:1d4e6e !important;
}

.titleOdinis {
    height: 20%;
    font-size: 20vh;
}

.child {
    height: 80%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #27293D;
}

.removeButton {
    border-radius: 10px;
    background-color: #FA527A !important;
}
